// $bgcolor: salmon;
// $banBgPathAbt:image-url('../img/banner-fund-mngt.jpg');
$banBgPathAbt:url(../image/banner-fund-mngt.jpg) no-repeat left top;
// @import "quize";
// @import "normalize";
@import "progress-steps.scss";
body{
    background:#fff;
    font-family: Poppins;
    font-size: 13px;
    h1{font-size: 25px;}
    .top-banner-bg{background:$banBgPathAbt;height: 300px;}

}
.webGl{position: fixed;left: 0;top: 0;outline: none;}
.form-control {
    width: 650px;
    margin: 0 auto;
    input{
        background-color: transparent;
        border-bottom: 2px;
        border: 0;
        display: block;
        width: 100%;
        padding:15px 0;
        font-size: 18px;
        color: #fff;
        
    }
    input:focus, input:valid{
        outline: 0;
        border-bottom-color:lightblue ;
        
    }
    button{
        width: 100%;
        padding: 15px;
        border: 0;
        border-radius: 15px;
        font-size: 16px;
    }
    button:focus{
        outline: 0;
    }
    button:active{
        transform:scale(0.98);
    }
    .control{
        position: relative;
        // padding: 15px 0;
    
    label{
        position: absolute;top: 15px;left: 0;
        z-index: -1;
    }
    label span{
        display: inline-block;
        font-size: 16px;
        min-width: 5px;
    }



}
    
}
